/* Other palette colors: #555B6E, #BEE3DB, #FAF9F9, #FFD6BA */

body { /* Note that these changes apply to everything within the body tag */
    background-color: #94cfcb;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.assignments {
    display: flex;
    flex-wrap: wrap;
}

.assignment {
    width: 21%;
    padding: 20px;
    margin: 10px;
    font-size: 1.5vw;
    background-color: #6bb6b1;
    border-radius: 18px;
}

.assignment img {
    width: 65%;
    padding: 5px;
    margin: auto;
    border: 3px solid #c8f7ed;
    border-radius: 9px;
    display: block;

}

.assignment img:hover{
    border: 3px solid #6cfcdd;
    filter:hue-rotate(30deg)
}

h1 {
    color: #eefafa;
    text-align: center;
}

h2 {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a {
    text-decoration: none;
    color: #faf9f9;
}

a:hover {
    color: #6cfcdd;
}

p {
    color:#faf9f9 ;
}

/* The following CSS groups handle expanding text of assignments on hover */
span.long-desc {
    display: none;
}

.assignment:hover span.short-desc {
    display: none;
}

.assignment:hover span.long-desc {
    display: block;
}